@import url('https://fonts.googleapis.com/css?family=Akronim|Baloo|Barrio|Black+Han+Sans|Bungee+Outline|Bungee+Shade|Dokdo|Faster+One|Fredericka+the+Great|Fredoka+One|Frijole|Jua|Kirang+Haerang|Luckiest+Guy|Monofett|Rock+Salt|Slackey|Special+Elite|UnifrakturMaguntia|Yeon+Sung|Zilla+Slab+Highlight');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2d3753;
  height: 200px;
  padding: 20px;
  color: white;
}

.button-dropdown {
  background: #49274a;
}

.top-navbar {
  position: sticky;
  top: 0px;
  z-index: 7;
}

.App-title {
  font-size: 2.75em;
  font-family: 'Fredericka the Great', cursive; /* not bad */
}

.hey-good-news {
  background: #f9f9f8;
}

.subtitle {
  font-size: 1.40em;
  font-family: 'Fredericka the Great', cursive;
}

.orange {
  color: orange;
}

.App-intro {
  font-size: large;
}

.top-news {
  margin: 5%;
}

.top-news h1 {
  text-align: center;
  font-weight: bold;
}

.source-time {
  color: grey;
  font-size: .8em;
}

.description {
  margin-top: 5px;
}

.tones p {
  margin-top: -10px;
  margin-left: 2%;
}

.top-tones {
  display: inline-block;
  margin-right: 2%;
  font-weight: bold;
}

#read-more-toggle {
  margin-top: -10px;
  margin-right: 2%;
}

#other-tones {
  margin-top: 10px;
}

#other-tones p {
  font-size: .8em;
}

.footer {
  text-align: center;
}

.footer p {
  margin-bottom: 0px;
}

.footer a {
  color: grey;
}

.footer a:hover {
  color: silver;
}

.newsAPI {
  margin-top: -10px;
}

.news-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  border-bottom: grey 1px solid;
}

.signup-tab {
  background: white;
  color: black;
  margin: 5%;
  text-align: center;
  font-size: 1.3em;
  margin-top: 50%;
  border: solid #00A37E .5px;
}

.source-img {
  height: 50px;
}

.source-title {
  color: #505050;
}

.source-title:hover {
  color: #ff7256;
}

.source-title a:visited {
  color: red;
}

.sort {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  text-align: center;
  border-bottom: 1px solid grey;
}

.signup-tab h3, .user-tone h3, .user-article h3 {
  font-family: 'Fredericka the Great', cursive; /* not bad */
  color: white;
}

.signup-tab h3, .user-tone h3, .user-article h3 {
  background: #00A37E;
  padding: 5%;
}

.signup-tab p, .user-tone p, .user-article p {
  padding: 5%;
}

.signup-tab button, .user-tone button {
  margin-bottom: 5%;
}

.user-tone, .user-article {
  color: #505050;
  margin: 5%;
  text-align: center;
  border: .5px solid #00A37E;
}

.user-tone {
  background: white;
}

.user-article {
  background: white;
}

.YourHighlightClass {
  background-color: #ffff89;
}

.user-story {
  height: 200px;
  width: 100%;
}

.input:focus {
    height:300px;
}

.input{
    width:90%;
    height:100px;
    color: #505050;
}

.intro-page {
  background: #ff7c5a;
}

.joy {
  border: 2px solid #FFFF66;
  padding: 3px;
  border-radius: 25%;
}

.user-article-results p {
  margin-bottom: -18px;
  text-align: left;
  font-size: .9em;
}

.user-article-tone {
  margin-left: 5%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-user-tones {
  border: #ff7256 solid 1px;
  background: #ff7256;
  border-radius: 2%;
  color: white;
  padding: 5%;
  margin: 5%;
  font-size: 1.1em;
}

.top-user-tones p {
  /* margin-top: 0px;
  padding-top: 0px; */
  /* padding-bottom: 1px; */
}

.user-article-tones {
  padding: 5%;
}

.no-display {
  display: none;
}

.footer-icon {
  background: #00A37E;
}

.footer-icon:hover {
  background: #00E5B1;
}

.article-container {
  background: white;
  border: lightgrey .5px solid;
  padding: 2%;
  margin: 0.5%;
}

.article-input {
  padding-left: 5%;
  padding-right: 5%;
}

#tone-toggle-more {
  color: #576690;
  color: #009C78;
}

#tone-toggle-more:hover {
  color: #00D1A1;
}

.newspaper-icon {
  height: 70px;
}

textarea:focus:not([readonly]) + label {
    color: #ff7256;
}

.active {
  color: #ff7256;
}

.article-input-div {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.signup-icon::before {
  color: #ff7256;
}

/* .modal-header, .modal-footer {
  background: #00c598;
  color: white;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 900px) {
  .subsubtitle {
    display: none;
  }

  .top-news {
    max-height: 800px;
    overflow: auto;
  }

  .signup-tab {
    margin-top: 10%;
  }
}
