@import url('https://fonts.googleapis.com/css?family=Akronim|Baloo|Barrio|Black+Han+Sans|Bungee+Outline|Bungee+Shade|Dokdo|Faster+One|Fredericka+the+Great|Fredoka+One|Frijole|Jua|Kirang+Haerang|Luckiest+Guy|Monofett|Rock+Salt|Slackey|Special+Elite|UnifrakturMaguntia|Yeon+Sung|Zilla+Slab+Highlight');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* background-color: #6464A3; */
  height: 200px;
  padding: 20px;
  color: white;
}

.top-navbar {
  position: sticky;
  top: 0px;
  z-index: 1020;
}

.App-title {
  font-size: 2.75em;
  /* font-family: 'Yeon Sung', cursive;
  font-family: 'Jua', sans-serif;
  font-family: 'Kirang Haerang', cursive;
  font-family: 'Dokdo', cursive;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Special Elite', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Baloo', cursive; */
  font-family: 'Fredericka the Great', cursive; /* not bad */
  /* font-family: 'UnifrakturMaguntia', cursive; */
  /* font-family: 'Frijole', cursive; /*Maybe */
  /* font-family: 'Bungee Shade', cursive; */
  /* font-family: 'Slackey', cursive; */
  /* font-family: 'Zilla Slab Highlight', cursive; */
  /* font-family: 'Monofett', cursive; */
  /* font-family: 'Barrio', cursive; */
  /* font-family: 'Bungee Outline', cursive; */
}

.subtitle {
  font-size: 1.40em;
  font-family: 'Fredericka the Great', cursive;
}

.orange {
  color: orange;
}

.App-intro {
  font-size: large;
}

/* My CSS */
.top-news {
  margin: 5%;
  /* max-height: 800px;
  overflow: auto; */
}

.top-news h1 {
  text-align: center;
  font-weight: bold;
}

.source-time {
  color: grey;
  font-size: .8em;
}

.description {
  margin-top: -10px;
}

.tones p {
  margin-top: -10px;
  margin-left: 2%;
}

.top-tones {
  display: inline-block;
  margin-right: 2%;
  font-weight: bold;
}

#read-more-toggle {
  margin-top: -10px;
  margin-right: 2%;
  /* margin-bottom: 10px; */
}

#other-tones {
  margin-top: 10px;
}

#other-tones p {
  font-size: .8em;
}

.footer {
  text-align: center;
  color: grey;
  font-size: 0.8em;
}

.footer a {
  color: grey;
}

.footer a:hover {
  color: silver;
}

.newsAPI {
  margin-top: -10px;
}

.news-header {
  text-align: center;
  margin-top: 5%;
}

.signup-tab {
  background: black;
  background: #ff7c5a;
  background: black;
  color: white;
  margin: 5%;
  text-align: center;
  border-radius: 5%;
  font-size: 1.3em;
  padding: 5%;
  margin-top: 15%;
}

.signup-tab h3, .user-tone h3, .user-article h3 {
  font-family: 'Fredericka the Great', cursive; /* not bad */
}

.user-tone, .user-article {
  background: black;
  color: white;
  padding: 5%;
  margin: 5%;
  border-radius: 2%;
  text-align: center;
}

.user-tone {
  background: #ff6344;
  background: black;
}

.user-article {
  background: #7ce6ac;
  background: black;
}

.YourHighlightClass {
  background-color: moccasin;
}

.user-story {
  height: 200px;
  width: 100%;
}

.input:focus {
    height:300px;
}

.input{
    width:100%;
    height:100px;
}

.intro-page {
  background: #ff7c5a;
}

.joy {
  /* color: white; */
  /* color: #FFFF66; */
  border: 2px solid #FFFF66;
  padding: 3px;
  border-radius: 25%;
}

.user-article-results p {
  margin-bottom: -5px;
  text-align: left;
}

.user-article-tone {
  text-indent: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 900px) {
  .subsubtitle {
    display: none;
  }

  .top-news {
    max-height: 800px;
    overflow: auto;
  }
}
