.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

/* My CSS */
.top-news {
  margin: 5%;
}

.top-news h1 {
  text-align: center;
}

.source-time {
  color: grey;
  font-size: .8em;
}

.description {
  margin-top: -10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
